.greeting {
  height: 1350px;
  background-image: url(../../image/image_background.jpg);
  margin-left: -8px;
  margin-top: -8px;
  background-repeat: no-repeat;
  position: absolute;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

.introduction-sentence-in-greeting {
  font-family: FuturisExtraBold;
  color: white;
  font-size: 70pt;
  margin-top: 400px;
  position: relative;
  padding-bottom: 40px;
}

.description-sentence-in-greeting {
  font-family: Calibri light;
  font-size: 30pt;
  padding-left: 375px;
  padding-right: 375px;
  color: white;
  font-weight: bolder;
  padding-bottom: 70px;
  letter-spacing: 2px;
}

.button {
  font-family: Calibri light;
  border: none;
  background-color: white;
  width: 400px;
  height: 100px;
  position: relative;
  margin-right: 40px;
  font-size: 25pt;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #465054;
}

.button:hover {
  background-color: #40c1da;
  color: white;
}
