body {
  margin: 0px 0px 0px 0px;
}

.list {
  display: flex;
  min-height: 1790px;
  background-color: #f7f7f7;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.color-light-blue {
  color: #40c1da;
}

.association-into-block {
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 350px;
}

.accede-services {
 display: flex;
 margin: auto;
 width: 700px;
 height: 100px;
 background-color: #40c1da;
 outline: 5px solid #40c1da;
 outline-offset: 5px;
 font-family: FuturisExtraBold;
 font-size: 40pt;
 color: white;
}

.accede-services:hover {
  background-color: white;
  outline: 5px solid #333333;
  color: #333333;
  cursor: pointer;
  transition: 0.3s;
}

.title-accede-services {
  margin: auto;
}

.blue-line {
  background-color: #42c0d9;
  width: 140px;
  height: 5px;
  margin:  auto;
}

.description-accede-services {
  font-family: Calibri light;
  font-size: 25pt;
  font-weight: bolder;
  color: #777777;
  text-align: center;
  margin: auto;
  margin-left: 17em;
  margin-right: 17em;
}

.association-into-block-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  min-height: 1100px;
}

.image-girl {
  margin-right: 60px;
}

.blue-part {
  display: flex;
  height: 100px;
  width: 1500px;
  background-color: #40c1da;
  margin: auto;
  font-family: Calibri light;
  font-size: 25pt;
  font-weight: bolder;
  color: #777777;
  text-align: left;
  color: white;
  border: 2px solid #2ab2cc;
  align-items: center;
  letter-spacing: 1px;
  cursor: pointer;
}

.white-description {
  font-family: Calibri light;
  font-size: 25pt;
  font-weight: bolder;
  color: #777777;
  max-height: 270px;
  width: 1400px;
  padding-left: 3em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.li-display-none {
  display: none;
}
