.part-step {
  height: 980px;
  padding-top: 100px;
  margin-top: -8px;
  margin-left: -8pt;
}

.button-step {
  width: 700px;
  height: 100px;
  margin: 0px auto;
  background-color: #40c1da;
  outline: 5px solid #40c1da;
  outline-offset: 5px;
  text-align: center;
  font-family: FuturisExtraBold;
  font-size: 40pt;
  color: white;
  letter-spacing: 2px;
  padding-top: 0.6em;
}

.button-step:hover {
  background-color: white;
  outline: 5px solid #333333;
  color: #333333;
}

.hr-line {
  width: 165px;
  height: 5px;
  background-color: #40c1da;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
}

.main-sentence-step {
  font-family: Calibri light;
  color: #777777;
  font-size: 25pt;
  padding-left: 17em;
  padding-right: 17em;
  padding-top: 1em;
  padding-bottom: 3em;
  font-weight: bolder;
  padding-bottom: 70px;
  text-align: center;
}

.block-all-step {
  margin-top: 5em;
}

.first-step {
  width: 700px; 
  float: left;
  display: inline-block;
  margin-left: 8em;
}

.second-step {
  width: 700px;
  float: left;
  margin-left: 8em;
}

.third-step {
  width: 700px;
  float: left;
  margin-left: 8em;
}

.number {
  font-family: AnjaEliane;
  font-size: 100pt;
  color: #eaeaea;
}

.word-after-number {
  font-size: 26pt;
  font-family: Arial black;
  font-weight: bolder;
  color: #333333;
}

.sentence-step {
  font-family: Calibri light;
  color: #777777;
  font-size: 25pt;
  font-weight: bolder;
}
